/* Import Barceloneta styles */
@import "++theme++barceloneta/less/barceloneta.plone.less";

@plone-sitenav-bg: orange;
@plone-sitenav-link-hover-bg: darken(orange, 20%);
.plone-nav > li > a {
  color: @plone-text-color;
}

#portal-top .top{background-color: transparent;}
