@font-face {
    font-family: 'din-condensed';
    src: url('./fonts/din-condensed.eot');
    src: url('./fonts/din-condensed.eot?#iefix') format('embedded-opentype'),
         url('./fonts/din-condensed.woff2') format('woff2'),
         url('./fonts/din-condensed.woff') format('woff'),
         url('./fonts/din-condensed.ttf') format('truetype'),
         url('./fonts/din-condensed.svg#din-condensed_onehplhs') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'violareggiocalabria';
  src: url('./fonts/violareggiocalabria.eot?16569544');
  src: url('./fonts/violareggiocalabria.eot?16569544#iefix') format('embedded-opentype'),
       url('./fonts/violareggiocalabria.woff2?16569544') format('woff2'),
       url('./fonts/violareggiocalabria.woff?16569544') format('woff'),
       url('./fonts/violareggiocalabria.ttf?16569544') format('truetype'),
       url('./fonts/violareggiocalabria.svg?16569544#violareggiocalabria') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'violareggiocalabria';
    src: url('../font/violareggiocalabria.svg?16569543#violareggiocalabria') format('svg');
  }
}
*/
.icon-play:before {font-family: 'violareggiocalabria'; content: '\e801';}
.flex-direction-nav a.flex-prev:before { font-family: 'violareggiocalabria'; content: '\f137'; }
.flex-direction-nav a.flex-next:before { font-family: 'violareggiocalabria'; content: '\f138'; }
body#visual-portal-wrapper.pat-plone #edit-zone{
    .contenttype-giocatore:after {font-family: 'violareggiocalabria'; content: '\e800';}
    .contenttype-homepage:after {font-family: 'violareggiocalabria'; content: '\e802';}
    .contenttype-partita:after {font-family: 'violareggiocalabria'; content: '\e807';}
    .contenttype-slide:after {font-family: 'violareggiocalabria'; content: '\e804';}
    .contenttype-sponsor:after {font-family: 'violareggiocalabria'; content: '\f155';}
    .contenttype-squadra:after {font-family: 'violareggiocalabria'; content: '\e803';}
    .contenttype-video:after {font-family: 'violareggiocalabria'; content: '\f16a';}
}
