body.template-giocatori{
    h1 { margin-top: 365px;}
    .grey-box-wrapper {margin: 4px 0px 10px 0px;}
    .grey-border {border-right: 25px solid @dark-grey; border-bottom: 25px solid transparent; width:0px; display: inline-block; float: right;}
    .grey-box {width: 200px; height:25px; background-color: @dark-grey;  float: right;}
}

body.template-view.portaltype-giocatore{
    #content{padding-top: 0px;}
    .player-images {position:relative;}
    .player-image {position:absolute; right: 15px; top: 0px; z-index: 2;
        img{border: 4px solid @red;}
        .white-box-wrapper {margin-top: 4px;}
        .white-border {border-right: 25px solid @white; border-bottom: 25px solid transparent; width:0px; display: inline-block; float: right;}
        .white-box {width: 275px; float: right; height:25px; background-color: @white;  margin-left: -1px;}
    }
    .player-name {position: absolute; right: 330px; top: 25px; background: transparent; font-weight: bold; text-align: right;
        span {display: block;}
    }
    .bio-border{ border-right: 150px solid @dark-grey; border-bottom: 150px solid transparent; width:0px; display: inline-block; position: absolute;}
    .bio-content-wrapper{background-color: @dark-grey; margin-left:149px; height: 150px;}
    .bio-content{color: @white;}
    .bio {font-size: 200%;
        .grey{color: @darkest-gey;}
        .white{color: @white;}
    }
    .role{font-size: 500%; color: @white; float: right; margin-right: 315px; margin-bottom: 15px;}
    .nextprev{ margin-top: 40px;
        .text-right {text-align:right; position: relative; right: 10px; }
        .text-left {text-align:left; position: relative; left: 10px;}
        .next {border-left: 25px solid @red; border-bottom: 50px solid transparent; width:0px; display: inline-block; float: left;}
        .prev {border-right: 25px solid @red; border-bottom: 50px solid transparent; width:0px; display: inline-block; float: right;}
        .prev-link-wrapper {background: @red; display: inline-block; height: 50px; vertical-align: top; padding: 5px; float: right; margin-left: -1px;}
        .next-link-wrapper {background: @red; display: inline-block; height: 50px; vertical-align: top; padding: 5px; float: left; margin-right: -1px;}
    }
    .stats{
        h2{ color: @red; text-align:center; font-size: 150%; margin-top: 20px;}
        .stats-table{ width: 94%; font-size: 150%; margin: 15px 2%;
            th{ color: @red; font-weight: bold; border: 1px solid @darkest-gey; text-align:center;}
            td{ border: 1px solid @darkest-gey; text-align:center;}
        }
    }
}
