body.template-news, body.portaltype-news-item {
    #viewlet-above-content-title .leadImage{display: none;}
    #news {margin-top: -76px; margin-bottom: 20px;
        .news-container{position:relative;
            .r-box-n {min-height: 608px;
		article{
			p{color: @dark-grey;}
			.leadImage{float: right;}
		}
	    }
            .tab {z-index: 5; position: relative; top: 2px;}
            h3 > a, h3 {color:@darker-grey;}
            .grey-boxes{ position: relative; bottom: 1px;}
            .left-box{
                .grey-box-wrapper {margin-top: 1px;}
                .grey-border {border-right: 25px solid @news-grey; border-bottom: 40px solid transparent; width:0px; display: inline-block; float: left;}
                .grey-box {width: 80%; height:40px; background-color: @news-grey;  float: left;}
            }
            .right-box{
                .grey-box-wrapper {margin-top: 1px;}
                .grey-border {border-left: 25px solid @news-grey; border-bottom: 40px solid transparent; width:0px; display: inline-block; float: right;}
                .grey-box {width: 80%; height:40px; background-color: @news-grey;  float: right;}
            }
            .nextprev {position:absolute; width: 100%; bottom: 15px;}
            .prevnext #category { display:none;}
        }
    }
    .banners {margin-top: 50px; background-color: @news-grey;
        img {border: 8px solid @news-grey; margin:auto;}
    }
}
