@media only screen and (max-width : 767px) {
    .outer-wrapper {overflow-x: hidden;}
    .all-team {width: 100%;}
    body.template-hp section#m-a-n .tab, body.template-hp section#m-a-n .tab-small
    .news-container{
        .tab {margin-left: 25px;}
    }
    .table-row { display: block;
        div[class^="col-"] { display: block; float: left;}
    }
    .flex-control-paging {display: none;}
    .no.padding-right{padding:right:15px;}
    .match .no.padding-right{padding:right:0px;}
    #mainnavigation{
        .navbar-brand img { width: 70%; }
    }
}
