.skewX(@deg:15deg){
  -webkit-transform: skewX(@deg);
  -moz-transform: skewX(@deg);
  -ms-transform: skewX(@deg);
  -o-transform: skewX(@deg);
  transform: skewX(@deg);
}

@media (max-width: 960px) {
  header {
    overflow: hidden;
  }
  .login{position:absolute;right:10px;}
  #top-menu {   
        display: none;
    }
  .mobilemenu {
    display: block;
    line-height: 49px;
    select {
      font-size: 13px;
      text-transform: uppercase;
      padding: 2px 6px 2px 6px;
    }

  }

	.b-menu ul{display:none;}
	.b-menu ul li{width:46%;text-align:center;}
	#pull-blog{display:block;}

	.logo{text-align:center;}
	.avatar{position:relative;left:0px;}
}

/* Landskape Phone to Small Desktop & Portrait Tablet
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 767px) {
  .teamd {
    .col-6 {
      width: 100%;
      float: none;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .team-pl {

    .col-2 {
      width: 25%;
    }
  }
	.b-menu ul{display:none;}
	.b-menu ul li{width:46%;text-align:center;}
	#pull-blog{display:block;}

	.logo{text-align:center;}
	.avatar{position:relative;left:0px;}
	.bx-controls-direction{position:relative;left: 0px;bottom: 0px;}
  section#m-a-n {
    margin-top: 120px;

    .container {

      .col-8,.col-4 {
        width: 100%;

        .r-box-n {
          height: auto;
          min-height: 0;
        }
      }
    }
  }
  .players {

    .col-4,.col-8 {
      width: 100%;
    }
    .all-team {
      width: 100%;
    }
    .bx-wrapper {
      max-width: 100%!important;
    }
  }
  #ttb {
    .col-4 {
      width: 100%;
    }
  }
  footer {
    .col-2,.col-6 {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      p {
        text-align: center;
      }

      .col-4,.col-6 {
        width: 100%;
        display: inline-block;
        float: none;

        p {
          text-align: center;
        }
      }
    }
  }
  .p-l {
    .col-2 {
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}

@media (max-width: 640px) {
  .team-pl {

    .col-2 {
      width: 33%;
    }
  }
  .all-team {
    width: 100%;
  }
  .top {
    height: auto;
  }
  .slider {


    .caption {
      display: none;
    }
  }
  .match {
    .col-6 {
      width: 100%;
    }
  }
	.b-menu ul{display:none;}
	.b-menu ul li{width:46%;text-align:center;}
	#pull-blog{display:block;}

	.logo{text-align:center;}
	.m-result{float:none;}
.logo-club{width:100%;margin:0px auto; margin-top: 10px; margin-bottom: 10px;}
  .logo-club img {
    max-width: 100%;
    width: auto;
  }
  .club-name {
    width: 100%;

    .match-name {
      padding: 15px 0;
    }

    .col-3 {
      width: 100%;
      text-align: center;
      padding: 0;
    }
  }
  #v-tabs ul {
    width: 100%;
  }
  #v-tabs .tab-content {
    width: 100%;
  }
.avatar{position:relative;left:0px;}
.bx-controls-direction{position:relative;left: 0px;bottom: 0px;}
  article.blog-item {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
  .col-6 {
    width: 100%;
  }
  .blog-post {

    .col-3,.col-9 {
      width: 100%;
    }
  }
  .honors {
    .col-4 {
      width: 100%;
    }
    .col-8{
      width: 100%;
    }
  }
  .cinfo {
    width: 100%;
  }
  #blog-grid .col-4 {
    width: 100%;
  }
}

/* Up to Landskape Phone
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 480px) {
  .club-content {
    .col-3,.col-9 {
      width: 100%;
      float: none;

      .bot-name {
        bottom: 0;
      }
    }
  }
  #tab .tab-content {

    img {
      max-width: 100%;
      height: auto;
    }
    .col-4 {
      width: 100%;
    }
  }
  .team-pl {

    .col-2 {
      width: 50%;
    }
  }
  section#m-a-n {
    margin-top: 150px;
  }

	.b-menu ul{display:none;}
	.b-menu ul li{width:100%;text-align:center;}
	#pull-blog{display:block;}
	/* TABS  */
	#tab ul > li{width: 110%;margin-left: -8px;}
  .p-l {
    .col-2 {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  .video-item {
    width: 100%;
  }
.logo{text-align:center;}	

.bx-controls-direction{position:relative;left: 0px;bottom: 0px;}

.club-name span{width:100%;}
.avatar{position:relative;left:0px;}
  .top {
    z-index: 99999;
    .col-2 {
      width: 100%;
      float: none;
    }
    .mobilemenu {
      width: 100%;
      text-align: center;
      margin-left: 0;
      float: none;
    }
    .login {
      float: none;
      position: relative;
      right: auto;
      text-align: center;
      margin-left: 0;
      padding-left: 0;
      .skewX(0);

      span {
        .skewX(0);
      }

      &:before {
        display: none;
      }
    }
  }
  .slider {
    display: none;
  }
  section#m-a-n {
    margin-top: 50px;
  }
}

















