@media only screen and (max-width : 767px) {
    .outer-wrapper {overflow-x: hidden;}
    .all-team {width: 100%;}
    body.template-hp section#m-a-n .tab, body.template-hp section#m-a-n .tab-small
    .news-container .tab {margin-left: 25px;}
    .our h3{font-size: 125%;}
    .table-row { display: block;
        div[class^="col-"] { display: block; float: left;}
    }
    #full-width-slides{
        .flex-control-paging {display: none;}
        .caption{top: 10%;
            h1 {margin: 0px 10px 10px 120px; font-size: 150%;}
            .read-more{margin-left: 120px;}
        }
    }
    #video .no-padding-right{padding-right: 15px;}
    #m-a-n > .row > .no-padding-right{padding-right:15px;}
    #mainnavigation .navbar-brand img { width: 120px;}
}
