@bg: #212121;
@red: #f18000;
@base-color:#090909;
@bold: #212121;
@light-grey: #fafafa;
@dark-grey: darken(@light-grey, 20%);
@darkest-gey: darken(@dark-grey, 50%);
@table-odd: @dark-grey;
@table-even: @light-grey;
@white: @light-grey;
@bg-gradient-middle:rgba(9,9,9,0.5);
@bg-gradient-borders:rgba(9,9,9,1);
@sitenav-bg: @red;
@text-color: @base-color;
@sitenav-link-hover-bg: darken(@sitenav-bg, 20%);
@light-red: lighten(@red, 40%);
